{% extends 'base.html.twig' %}

{% block title %}Edit Structure{% endblock %}

{% block body %}
    <div class="content">
        <section class="panel shadow-sm">
            <h3 class="mb-4">Information sur la structure</h3>
            {{ form_start(form, {'attr': {'id': 'form'}}) }}
            {{ form_end(form) }}
            <div class="d-flex justify-content-between">
                <div>
                    <a class="btn btn-icon btn-primary" href="{{ path('structure_index') }}">
                        {% include 'icon/undo.svg' %}
                        <span>Retour à la liste</span>
                    </a>
                </div>
                <div class="d-grid gap-2 grid-flow-column">
                    <button id="btn-save" class="btn btn-icon btn-success">
                        {% include 'icon/diskette.svg' %}
                        <span>Sauvegarder</span>
                    </button>
                    {{ include('structure/_delete_form.html.twig') }}
                </div>
            </div>
        </section>
        <section class="panel shadow-sm">
            <h3 class="mb-4">Liste des activités</h3>
            {% for activity in activities %}
                <div class="card mb-3">
                    <div class="card-body d-flex">
                        <a href="{{ path('activity_show', {'id': activity.id}) }}" class="flex-grow-1 d-flex align-items-center">
                            <h6 class="card-text text-capitalize">{{ activity.getDiscipline().getName() }}</h6>
                        </a>
                        <div class="flex-shrink-0 d-flex justify-content-center align-items-center">
                            <a class="btn-sm btn-primary" role="button" href="{{ path('activity_edit', {'structure_id': structure.id, 'id': activity.id}) }}">Éditer</a>
                        </div>
                    </div>
                </div>
            {% else %}
                Pas de structures
            {% endfor %}
            <a class="btn btn-success btn-full" href="{{ path('activity_new',{'structure_id':structure.id}) }}">Ajouter une activité</a>
        </section>
    </div>
    <script>
        let btnSave = document.getElementById('btn-save');
        let form = document.getElementById('form');
        btnSave.addEventListener('click',function(){form.submit();});
    </script>
{% endblock %}
