{% extends 'base.html.twig' %}

{% block title %}Edit Structure{% endblock %}

{% block body %}
    <section>

        {{ form_start(form, {'attr': {'id': 'form'}}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.url) }}
            {{ form_row(form.description) }}
            {{ form_row(form.address) }}
            {{ form_row(form.lat) }}
            {{ form_row(form.lng) }}
            {{ form_row(form._token) }}
        {{ form_end(form) }}

        <div class="button-footer">
            <div>
                <a class="btn btn-normal" href="{{ path('structure_index') }}">Retour à la liste</a>
            </div>
            <div class="right">
                <button id="btn-save" class="btn btn-success">Sauvegarder</button>
                {{ include('structure/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
    <script>
        let btnSave = document.getElementById('btn-save');
        let form = document.getElementById('form');
        btnSave.addEventListener('click',function(){form.submit();});
    </script>
{% endblock %}
