{% extends 'base.html.twig' %}

{% block title %}Edit Structure{% endblock %}

{% block body %}
    <section>
        <h3 class="mb-4">Information sur la structure</h3>
        {{ form_start(form, {'attr': {'id': 'form'}}) }}
        {{ form_end(form) }}
    </section>
    <section>
        <h3 class="mb-4">Liste des activités</h3>
        <div class="row">
            {% for activity in activities %}
                <div class="card mb-3">
                    <div class="card-body d-flex">
                        <a href="{{ path('activity_show', {'id': activity.id}) }}" class="flex-grow-1 d-flex align-items-center">
                            <h6 class="card-text text-capitalize">{{ activity.getDiscipline().getName() }}</h6>
                        </a>
                        <div class="flex-shrink-0 d-flex justify-content-center align-items-center">
                            <a class="btn-sm btn-primary" role="button" href="{{ path('activity_edit', {'structure_id': structure.id, 'id': activity.id}) }}">Éditer</a>
                        </div>
                    </div>
                </div>
            {% else %}
                Pas de structures
            {% endfor %}
            <a class="btn btn-success" href="{{ path('activity_new',{'structure_id':structure.id}) }}">Ajouter une activité</a>
        </div>
    </section>
    <div class="button-footer">
        <div class="fixed-bar">
            <div>
                <a class="btn btn-icon btn-primary" href="{{ path('structure_index') }}">
                    {% include 'icon/undo.svg' %}
                    <span>Retour à la liste</span>
                </a>
            </div>
            <div>
                <button id="btn-save" class="btn btn-icon btn-success h-min-content">
                    {% include 'icon/diskette.svg' %}
                    <span>Sauvegarder</span>
                </button>
                {{ include('structure/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <script>
        let btnSave = document.getElementById('btn-save');
        let form = document.getElementById('form');
        btnSave.addEventListener('click',function(){form.submit();});
    </script>
{% endblock %}
