{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <section class="content">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row mb-3">
                <a class="btn btn-full btn-main" href="{{ path('structure_new') }}">
                    <span>Ajouter une structure</span>
                </a>
            </div>
        {% endif %}
        <div class="row">
            {% for structure in structures %}
                <div class="card mb-3">
                    <div class="card-body d-flex">
                        <a href="{{ path('structure_show', {'id': structure.id}) }}" class="flex-grow-1">
                            <h5 class="card-title">{{ structure.name }}</h5>
                            <p class="card-text">{{ structure.address }}</p>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="flex-shrink-0 d-flex justify-content-center align-items-center">
                                <a class="btn btn-primary" role="button" href="{{ path('structure_edit', {'id': structure.id}) }}">Éditer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                Pas de structures
            {% endfor %}
        </div>
    </section>
{% endblock %}