{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <section>
        <div>
            {% for structure in structures %}
                {% embed "structure/list_item.twig" %}
                    {% block link %}
                        {{ path('structure_show', {'id': structure.id}) }}
                    {% endblock %}
                    {% block title %}
                        {{ structure.name }}
                    {% endblock %}
                    {% block desc %}
                        {{ structure.address }}
                    {% endblock %}
                    {% block action %}
                        <a class="primary" href="{{ path('structure_edit', {'id': structure.id}) }}">
                            Editer
                        </a>
                        <a class="danger" href="{{ path('structure_edit', {'id': structure.id}) }}">
                            Supprimer
                        </a>
                    {% endblock %}
                {% endembed %}
            {% else %}
                Pas de structures
            {% endfor %}
        </div>

        <a class="float_bottomRight" href="{{ path('structure_new') }}">+ Ajouter une structure</a>
    </section>
{% endblock %}
