{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <section>
        <div class="row">
            {% for structure in structures %}
                <div class="card mb-3">
                    <div class="card-body row">
                        <a href="{{ path('structure_show', {'id': structure.id}) }}" class="col-10">
                            <h5 class="card-title">{{ structure.name }}</h5>
                            <p class="card-text">{{ structure.address }}</p>
                        </a>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a class="btn btn-primary" role="button" href="{{ path('structure_edit', {'id': structure.id}) }}">Éditer</a>
                        </div>
                    </div>
                </div>
            {% else %}
                Pas de structures
            {% endfor %}
        </div>

        <a class="fixed_br btn btn-success" href="{{ path('structure_new') }}">+ Ajouter une structure</a>
    </section>
{% endblock %}
