{% extends 'base.html.twig' %}

{% block title %}Structure{% endblock %}

{% block body %}
    <section>

        <h1>Structure</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structure.id }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ structure.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ structure.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ structure.description }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ structure.address }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ structure.lat }}</td>
            </tr>
            <tr>
                <th>Lng</th>
                <td>{{ structure.lng }}</td>
            </tr>
            </tbody>
        </table>

        <div class="button-footer">
            <div>
                <a class="btn btn-normal" href="{{ path('structure_index') }}">Retour à la liste</a>
            </div>
            <div>
                <button id="btn-save" class="btn btn-normal">Éditer</button>
            </div>
        </div>
    </section>
{% endblock %}
