{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.phoneNumber) }}
    <button type="submit" class="btn btn-full btn-normal">Inscription</button>
{{ form_end(registrationForm) }}