{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header>
        <div class="left">
            <img class="logo" src="{{ asset('images/UnivToursIconMin.png') }}" alt="">
        </div>
        <div class="right">
            <img src="{{ asset('images/menu.svg') }}" alt="">
        </div>
    </header>
    <div class="pageContainer">
        {{ include('calendar.twig') }}
    </div>
{% endblock %}
