<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<div id="navbar">
    <div class="body">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/univ-tours.png') }}" alt="logo univ-tours">
        </a>
        <div class="d-flex">
            <div id="nav-overlay"></div>
            <div id="nav-links">
                <a class="btn" href="{{ path('structure_index') }}">Mon Planning</a>
                <a class="btn" href="{{ path('structure_index') }}">Structures</a>
                <a class="btn" href="{{ path('activity_index') }}">Activités</a>
                {% if is_granted('ROLE_DOCTOR') %}
                    <div>Médecin</div>
                    <a class="btn" href="{{ path('account_index') }}">Gestion des patients</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div>Administrateur</div>
                    <a class="btn" href="{{ path('account_index') }}">Gestion des comptes</a>
                {% endif %}
            </div>
            {% if app.user == null %}
                <a class="btn btn-main" href="{{ path('app_authenticate') }}">Se connecter</a>
            {% else %}
                <a class="btn btn-main" href="{{ path('account_profile') }}">Mon profil</a>
            {% endif %}
            <div id="navbar-menu-icon">
                {% include 'icon/menu.svg' %}
            </div>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
</body>
<script defer type="application/javascript">
    class NavBar {
        static #navLinks;
        static #navOverlay;
        static Instantiate(){
            NavBar.#navLinks = document.getElementById('nav-links');
            NavBar.#navOverlay = document.getElementById('nav-overlay');
            NavBar.#navOverlay.addEventListener('click',function (){
                NavBar.Update(false);
            });
            let btn_menu = document.getElementById('navbar-menu-icon');
            btn_menu.addEventListener('click', function (){
                NavBar.Update(true);
            });
        }

        static Update(statut){
            let width = NavBar.#navLinks.style.width;
            NavBar.#navLinks.style.right = (statut)?"0px":width;
            NavBar.#navOverlay.style.display = (statut)?"block":"none";
        }
    }

    NavBar.Instantiate();
</script>
</html>
