<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<div class="navbar">
    <a href="{{ path('home') }}">
        <img src="{{ asset('images/univ-tours.png') }}" alt="logo univ-tours">
    </a>
    <div>
        <a class="btn" href="{{ path('structure_index') }}">Structures</a>
        <a class="btn" href="{{ path('activity_index') }}">Activités</a>
        {% if app.user == null %}
            <a class="btn btn-main" href="{{ path('app_authenticate') }}">Se connecter</a>
        {% else %}
            <a class="btn btn-main" href="{{ path('account_profile') }}">Mon profil</a>
        {% endif %}
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>
