<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <div id="navbar-link">
            <div id="navbar-menu-icon">
                {% include 'icon/menu.svg' %}
            </div>
            <div id="navbar-overlay"></div>
            <div id="navbar-panel">
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <label>Administration</label>
                        <a href="{{ path('structure_index') }}">Structures</a>
                        <a href="{{ path('account_index') }}">Comptes</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="navbar-logo">
            <a href="{{ path('home') }}">Papa</a>
        </div>
        <div id="navbar-account">
            {% if app.user == null %}
                <a href="{{ path('app_authenticate') }}">Se connecter</a>
            {% else %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}
        </div>
    </nav>
    {% block head_body %}{% endblock %}
</header>
<div id="body">
    {% block body %}{% endblock %}
</div>
<footer>

</footer>
<script type="application/javascript">
    let navbarOverlay = document.getElementById('navbar-overlay')
    let navbarPanel = document.getElementById('navbar-panel')
    let navbarIcon = document.getElementById('navbar-menu-icon')

    navbarOverlay.addEventListener('click',function(){closeNavbar();})
    navbarIcon.addEventListener('click',function(){openNavbar();})

    function openNavbar(){
        navbarOverlay.style.display = 'block';
        navbarPanel.style.left = '0px';
    }

    function closeNavbar(){
        navbarOverlay.style.display = 'none';
        navbarPanel.style.left = '-250px';
    }
</script>
</body>
</html>
