{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <header>
        <div class="left">
            <img class="logo" src="{{ asset('images/UnivToursIconMin.png') }}" alt="">
        </div>
        <div class="right">
            <img src="{{ asset('images/menu.svg') }}" alt="">
        </div>
    </header>
    <div class="pageContainer">
        {{ include('calendar.twig') }}
    </div>
{% endblock %}

{#

@import "colors";
@import "variables";

@import "calendar";

header{
position: fixed;
width: 100vw;
height: $navbar_height;
display: flex;
justify-content: space-between;
background-color: white;
border-bottom: solid 2px $color_lightGray;
top: 0;
&>*{
padding-top: 1rem;
padding-bottom: 1rem;
}
.left{
padding-left: 1rem;
padding-right: 1rem;
.logo{
  height: 36px;
  width: 36px;
}
}
.right{
border-left: solid 2px $color_lightGray;
img{
  width: 3rem;
  height: 3rem;
}
}
}

.pageContainer{
max-width: 1200px;
margin: $navbar_height auto 0 auto;
height: calc( 100vh - #{$navbar_height});
padding: 2rem;
}
#}